In [3]:
import pandas as pd

In [4]:
df = pd.read_excel("clean_douban_movies_edited.xls")
df

,watch_date,url,rating,中文名,original_name,en_name,release_date,country,country_new,country_en,...,horror,mystery,suspense,crime,fantasy,costume,action,adventure,romance/love,other
0,2022-07-12,https://movie.douban.com/subject/35914301/,4,世界奇妙物语 2022夏季特别篇,世にも奇妙な物語'22夏の特別編,Tales of the Unusual 2022 Summer SP,2022-06-18,日本,日本,Japan,...,horror,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-07-02,https://movie.douban.com/subject/35524387/,4,安娜,안나\n,Anna,2022-06-24,韩国,韩国,South Korea,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-07-01,https://movie.douban.com/subject/35372415/,4,套装,The Outfit\n,The Outfit,2022-02-14,柏林电影节,美国,United States,...,NaN,NaN,NaN,crime,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-06-28,https://movie.douban.com/subject/35273085/,3,纸钞屋(韩版),종이의 집\n,Banknote House (Korean Version),2022-06-24,韩国,韩国,South Korea,...,NaN,NaN,suspense,crime,NaN,NaN,action,NaN,NaN,NaN
4,2022-06-23,https://movie.douban.com/subject/35441504/,3,我们的蓝调,우리들의 블루스\n,Our Blues,2022-04-09,韩国,韩国,South Korea,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,2021-10-12,https://movie.douban.com/subject/25909236/,3,致命感应,Malignant\n,Malignant,2021-09-01,法国,美国,United States,...,horror,mystery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,2021-09-21,https://movie.douban.com/subject/34812928/,4,鱿鱼游戏 第一季,오징어 게임\n,Squid Game Season 1,2021-09-17,韩国,韩国,South Korea,...,NaN,NaN,suspense,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,2021-09-17,https://movie.douban.com/subject/34981939/,4,偷窥者,The Voyeurs\n,The Voyeurs,2021-09-10,美国网络,美国,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,2021-09-06,https://movie.douban.com/subject/33423672/,4,厄运假期,Beckett\n,Beckett,2021-08-13,美国网络,意大利 / 巴西 / 希腊 / 美国,Italy,...,NaN,NaN,NaN,crime,NaN,NaN,action,NaN,NaN,NaN
78,2021-09-06,https://movie.douban.com/subject/30337388/,3,失控玩家,Free Guy\n,Free Guy,2021-08-10,洛迦诺电影节,美国 / 加拿大,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,action,NaN,NaN,NaN

# 1. How many movies & tv shows I've watched?

In [5]:
df["gerne"].value_counts()

Movie       45
TV Shows    34
Name: gerne, dtype: int64

# 2. Look through movies/tv shows with tag of drama

In [7]:
df_drama = df[df["drama"] == "drama"]

In [8]:
df_drama[df_drama["thriller"] == "thriller"]

,watch_date,url,rating,中文名,original_name,en_name,release_date,country,country_new,country_en,...,horror,mystery,suspense,crime,fantasy,costume,action,adventure,romance/love,other
2,2022-07-01,https://movie.douban.com/subject/35372415/,4,套装,The Outfit\n,The Outfit,2022-02-14,柏林电影节,美国,United States,...,NaN,NaN,NaN,crime,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-06-28,https://movie.douban.com/subject/35273085/,3,纸钞屋(韩版),종이의 집\n,Banknote House (Korean Version),2022-06-24,韩国,韩国,South Korea,...,NaN,NaN,suspense,crime,NaN,NaN,action,NaN,NaN,NaN
31,2022-04-29,https://movie.douban.com/subject/34928045/,3,恐怖循环,Choose or Die\n,Choose or Die,2022-04-15,美国网络,英国,United Kingdom,...,horror,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2022-02-27,https://movie.douban.com/subject/35732705/,4,暂无出口,No Exit\n,No Exit,2022-02-25,美国,美国,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2022-02-22,https://movie.douban.com/subject/3006772/,5,第九区,District 9\n,District 9,2009-08-14,美国,美国,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,action,NaN,NaN,NaN
51,2022-01-30,https://movie.douban.com/subject/35030325/,2,僵尸校园,지금 우리 학교는\n,All of Us Are Dead,2022-01-28,韩国,韩国,South Korea,...,horror,NaN,NaN,NaN,NaN,NaN,action,NaN,NaN,NaN
69,2021-10-10,https://movie.douban.com/subject/30180126/,3,窗里的女人,The Woman in the Window\n ...,The Woman in the Window,2021-05-14,美国网络,美国,United States,...,NaN,mystery,NaN,crime,NaN,NaN,NaN,NaN,NaN,NaN
70,2021-10-03,https://movie.douban.com/subject/30400539/,4,罪人,The Guilty\n,The Guilty,2021-09-11,多伦多电影节,美国,United States,...,NaN,NaN,NaN,crime,NaN,NaN,NaN,NaN,NaN,NaN
71,2021-09-24,https://movie.douban.com/subject/34953711/,4,不眠 第一季,Vigil Season 1\n,Vigil Season 1,2021-08-29,英国,英国,United Kingdom,...,NaN,NaN,NaN,crime,NaN,NaN,NaN,NaN,NaN,NaN
73,2021-09-21,https://movie.douban.com/subject/35017064/,3,老去,Old\n,Old,2021-07-21,美国,美国,United States,...,horror,mystery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,2021-09-16,https://movie.douban.com/subject/34805719/,4,致命点击,Clickbait\n,Clickbait,2021-08-25,美国,美国,United States,...,NaN,mystery,NaN,crime,NaN,NaN,NaN,NaN,NaN,NaN

# 3. The numbers & percentage of each movie category

Including 14 tags in total

In [33]:
df["adventure"].value_counts(dropna=False, normalize=True) * 100

NaN          89.873418
adventure    10.126582
Name: adventure, dtype: float64

In [34]:
df["adventure"].value_counts()

adventure    8
Name: adventure, dtype: int64

In [9]:
df["drama"].value_counts(dropna=False, normalize=True) * 100

drama    54.43038
NaN      45.56962
Name: drama, dtype: float64

In [13]:
df["drama"].value_counts()

drama    43
Name: drama, dtype: int64

In [147]:
df["thriller"].value_counts(dropna=False, normalize=True) * 100

NaN         67.088608
thriller    32.911392
Name: thriller, dtype: float64

In [14]:
df["thriller"].value_counts()

thriller    26
Name: thriller, dtype: int64

In [148]:
df["comedy"].value_counts(dropna=False, normalize=True) * 100

NaN       73.417722
comedy    26.582278
Name: comedy, dtype: float64

In [15]:
df["comedy"].value_counts()

comedy    21
Name: comedy, dtype: int64

In [149]:
df["sci-fi"].value_counts(dropna=False, normalize=True) * 100

NaN       77.21519
sci-fi    22.78481
Name: sci-fi, dtype: float64

In [16]:
df["sci-fi"].value_counts()

sci-fi    18
Name: sci-fi, dtype: int64

In [150]:
df["crime"].value_counts(dropna=False, normalize=True) * 100

NaN      77.21519
crime    22.78481
Name: crime, dtype: float64

In [17]:
df["crime"].value_counts()

crime    18
Name: crime, dtype: int64

In [151]:
df["action"].value_counts(dropna=False, normalize=True) * 100

NaN       79.746835
action    20.253165
Name: action, dtype: float64

In [18]:
df["action"].value_counts()

action    16
Name: action, dtype: int64

In [141]:
df["romance/love"].value_counts(dropna=False, normalize=True) * 100

NaN        82.278481
romance    17.721519
Name: romance/love, dtype: float64

In [19]:
df["romance/love"].value_counts()

romance    14
Name: romance/love, dtype: int64

In [136]:
df["suspense"].value_counts(dropna=False, normalize=True) * 100

NaN         87.341772
suspense    12.658228
Name: suspense, dtype: float64

In [20]:
df["suspense"].value_counts()

suspense    10
Name: suspense, dtype: int64

In [137]:
df["horror"].value_counts(dropna=False, normalize=True) * 100

NaN       88.607595
horror    11.392405
Name: horror, dtype: float64

In [21]:
df["horror"].value_counts()

horror    9
Name: horror, dtype: int64

In [138]:
df["fantasy"].value_counts(dropna=False, normalize=True) * 100

NaN        88.607595
fantasy    11.392405
Name: fantasy, dtype: float64

In [22]:
df["fantasy"].value_counts()

fantasy    9
Name: fantasy, dtype: int64

In [143]:
df["mystery"].value_counts(dropna=False, normalize=True) * 100

NaN        93.670886
mystery     6.329114
Name: mystery, dtype: float64

In [23]:
df["mystery"].value_counts()

mystery    5
Name: mystery, dtype: int64

In [144]:
df["costume"].value_counts(dropna=False, normalize=True) * 100

NaN        97.468354
costume     2.531646
Name: costume, dtype: float64

In [24]:
df["costume"].value_counts()

costume    2
Name: costume, dtype: int64

In [145]:
df["other"].value_counts(dropna=False, normalize=True) * 100

NaN          96.202532
biography     1.265823
history       1.265823
disaster      1.265823
Name: other, dtype: float64

In [25]:
df["other"].value_counts()

disaster     1
biography    1
history      1
Name: other, dtype: int64

# 4. Export a seperate file for movie languages analysis

In [6]:
df["language"].value_counts()

English     39
Korean      24
Mandarin     8
French       3
Japanese     1
Italian      1
Turkish      1
Hindi        1
German       1
Name: language, dtype: int64

In [ ]:
df_lang = df["language"].value_counts(normalize=True) * 100
#df_lang.to_excel("language_percentage.xls")

# 5. Find out during what time I was watch my favourite movies?

* Including: thriller/horror/suspense/mystery/crime

In [7]:
df_thriller = df[df.thriller == "thriller"]
#df_thriller.to_excel("thriller.xls")

In [28]:
df_horror = df[df.horror == "horror"]
#df_horror.to_excel("horror.xls")

/var/folders/jg/7jsjjz6d6g5cxdkqkqxtc68w0000gn/T/ipykernel_32063/4019434694.py:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df_horror.to_excel("horror.xls")

In [29]:
df_suspense = df[df.suspense == "suspense"]
#df_suspense.to_excel("suspense.xls")

/var/folders/jg/7jsjjz6d6g5cxdkqkqxtc68w0000gn/T/ipykernel_32063/3458809794.py:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df_suspense.to_excel("suspense.xls")

In [30]:
df_mystery = df[df.mystery == "mystery"]
#df_mystery.to_excel("mystery.xls")

/var/folders/jg/7jsjjz6d6g5cxdkqkqxtc68w0000gn/T/ipykernel_32063/3123708367.py:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df_mystery.to_excel("mystery.xls")

In [32]:
df_crime = df[df.crime == "crime"]
#df_crime.to_excel("crime.xls")

/var/folders/jg/7jsjjz6d6g5cxdkqkqxtc68w0000gn/T/ipykernel_32063/437935296.py:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df_crime.to_excel("crime.xls")